
.center_elem{
    text-align: center;
}

.right_elem{
    text-align: right;
}

label[for="notification"],label[for="remember_me"] {
    margin-bottom: var(--spacing) !important;
}

.error_form {
    border-color: #b71c1c !important;
    padding: 1%;
    border: var(--border-width) solid;
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing) !important;
}

.error_form ul {
    margin: 0%;
}

header h1{
    margin-bottom: 0 !important;
    text-align: center;
}

header {
    text-align: center;
    padding-bottom: 0% !important;
}

#genres_list {
    overflow-y: scroll;
    height: 40vh;
}



@media screen and (max-width: 1024px) {
    #genres_list {
        overflow-y: scroll;
        height: 40vh;
    }
}

@media screen and (max-width: 768px) {
    #genres_list {
        overflow-y: scroll;
        height: 25vh;
    }
}

@media screen and (max-width: 992px) {

    #genres_list {
        overflow-y: scroll;
        height: 25vh;
    }
  
}

