.container-fluid {
  padding: 0% !important; 
  height: 100vh;
}

.center-text {
  text-align: center;
}

.title{
  font-weight: bold;
  font-size: x-large;
}

/*-body--------------------------------------------*/

body {
  overflow: hidden;
}

body > aside {
  float: left; 
  width: 15%;
  padding: 1% 2%;
  height: 100vh;
  border-right: solid;
}

body > div {
  float: right; 
  width: 85%;
  height: 100vh;
  overflow: auto;
}

/*-nav-------------------------------------------*/

aside a img{
  margin-right: 2%;
}

aside details ul {
  height: 40vh;
  overflow-y: auto;
}

/*-section--------------------------------------------*/

section {
  display: inline-block;
  width: 100%;
  padding: 1% 2%;
  margin-bottom: 0% !important;
  border-bottom: solid;
}

section > h1 {
  float: left;
  width: 85%;
  margin: 0% !important;
  font-style: italic;
  font-size: 300%;
}

section > details {
  float: right;
  width: 10%;
  margin: 0% !important;
}

summary.notification {
  text-align: center !important;
  background-image:linear-gradient(to bottom, rgb(25, 93, 240) 0%, rgb(63, 206, 250) 100%);
  font-size: 2vw;
}

summary.notification::after {
  display: none !important;
}

div details ul {
  width: 40vw;
}

div details ul li{
  text-align: center;
}

/*-main-----------------------------*/

section .current_post {
  float: left;
  width: 80%;
}

section .button_prev {
  float: left;
  width: 10%;
}

section .button_next {
  float: right;
  width: 10%;
}

.grid {
  align-items: center;
  border-bottom: solid;
}

.grid article {
  margin: 0%;
  padding: 5%;
  text-align: center;
}

.grid .current_post {
  font-size: 150%;
}


/*------------------------------*/

.error_form {
  border-color: #b71c1c !important;
  padding: 1%;
  border: var(--border-width) solid;
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing) !important;
}

.error_form ul {
  margin: 0%;
}


