.container-fluid {
  padding: 0% !important; 
  /*height: 100vh;*/
}

.center-text {
  text-align: center;
}

.title{
  font-weight: bold;
  font-size: x-large;
}

/*---------------------------------------------*/

.main-div h1 {
  font-style: italic;
  text-align: center;
  margin: 0% !important;
  padding-top: 1%;
}

.main-div nav details {
  display: inline-block;
  font-weight: bold;
  padding: 0% 3%;
}

.main-div nav summary::after {
  display: none !important;
}

.main-div nav ul {
  overflow-y: scroll !important;
  height: 50vh;
  width: 50vw;
  max-width: fit-content;
}

.main-div nav .notification ul {
  left: -40vw !important;
}

/*----------------------------------------*/

.menu {
  position: fixed;
  bottom: 0;
  background-color: lightgray;
  width: 100%;
  padding-left: 1%;
}

.menu li {
  float: left;
  width: 14%;
  margin: 0% 1vw;
  align-items: center;
}

.menu a label {
  display: none;
}

main {
  border-top: solid;
  padding: 1% !important;
  margin-bottom: 12%;
}

/*---------------------------------------------*/

.error_form {
  border-color: #b71c1c !important;
  padding: 1%;
  border: var(--border-width) solid;
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing) !important;
}

.error_form ul {
  margin: 0%;
}

/*-main home----------------------------------*/

.post_section {
  display: none;
}

.post_section article, .grid article {
  margin: 3% 1%;
}

main .grid {
  align-items: center;
  margin: 2% 1%;
}

main .grid article {
  padding: 2%;
  text-align: center;
}

main .grid .current_post article {
  font-size: 200%;
}

/*------------------------------------------*/

@media screen and (min-width: 768px) {

  .menu {
    position: fixed;
    float: left;
    width: 15%;
    height: 100vh;
    border: solid;
    padding: 0% 1%;
    background-color: transparent;
  }

  .menu li{
    width: 8vw;
  }

  .main-div {
    float: right;
    width: 85%;
    overflow: auto;
  }

  .main-div nav summary::after {
    display: inline;
  }

  .main-div nav .music-genre ul {
    left: 20% !important;
  }

  main {
    margin-bottom: 0%;
  }

}

@media screen and (min-width: 992px) {
  
  .menu {
    padding: 0%;
  }

  .menu nav {
    padding: 0%;
  }

  .menu li{
    width: 100%;
    align-items: left;
  }

  .menu a {
    width: 100%;
    padding: 5% 0%;
    margin: 0%;
  }

  .menu a label {
    display: inline-block;
    margin-left: 2%;
  }

  .menu img {
    max-height: 3vw;
  }

  .post_section {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: 60vh;
    text-align: center;
    margin: 0%;
  }
  
  .post_section button {
    margin: 0%;
    background-color: transparent;
  }
  
  .post_section button:hover {
    background-color: black;
  }

}
