.container-fluid {
  padding: 0% !important;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.title {
  font-weight: bold;
  font-size: x-large;
}

.main-header{
  display: grid;
}

.profile-header{
  display: flex !important;
}

.profile-image {
  border-radius: 40%;
  max-width: 20%;
}

.header-div {
  width: 45%;
}

.header-element {
  padding: 5% !important;
  margin: 0 !important;
}

.post-image {
  width: 30%;
  padding: 0.5%;
}

.like-button {
  float: left;
  background: transparent;
  border: transparent;
  max-width: 50%;
  padding: 0;
  margin: 0% !important;
}

.like-button > img {
  max-width: 2em;
}

.dislike-button > img {
  max-width: 2em;
  transform: rotate(180deg);
}

.modal-image{
  padding: 5%;
  clear: both;
}

.song-preview {
  clear: both;
}

.caption {
  display: inline-block;
  width: 5%;
  margin: 0 !important;
}

.followButton{
  width: 40%;
  height: 70%;
}
/*---------------------------------------------*/

body {
  min-width: 355px;
}

.main-div > section h1 {
  font-style: italic;
  margin: 0% !important;
  text-align: center;
}

.main-div > section {
  margin: 0% 2% !important;
}

.main-div > section section {
  margin: 0% !important;
}

.main-div > section details {
  margin-bottom: 0%;
}

.main-div > section .track_genres {
  float: left;
  width: 60%;
}

.main-div > section .track_genres summary {
  border: none;
}

.main-div > section div > input {
  float: right;
  width: 40%;
  margin-bottom: 0%;
  border: none;
}

.main-div > section details summary {
  text-align: center;
}

.main-div > section details summary::after{
  display: none !important;
}

.main-div > section ul {
  overflow-y: scroll;
  height: 60vh;
}

/*----------------------------------------*/

.menu {
  position: fixed;
  bottom: 0;
  background-color: white;
  /*filter: invert(100%);*/
  width: 100%;
  padding-left: 4%;
}

.menu li {
  float: left;
  width: 16%;
  align-items: center;
}

.menu figure {
  margin: 0% !important;
}

.menu a figcaption {
  display: none;
}

main {
  border-top: solid;
  padding: 1% !important;
  margin-bottom: 12%;
}

/*---------------------------------------------*/

.error_form {
  border-color: #b71c1c !important;
  padding: 1%;
  border: var(--border-width) solid;
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing) !important;
}

.error_form ul {
  margin: 0%;
}

label[for="comments"]{
  margin-bottom: var(--spacing) !important;
}

#new_post_form #genres_list {
  overflow-y: scroll;
  height: 50vh;
}

/*---------------------------------------------*/

article.post_body{
  margin-top: 3%;
  margin-bottom: 3%;
}

article.post_body .profile_post {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 0%;
  margin: 0%;
  padding: 0%;
}

article.post_body .profile_post a {
  padding: 1% 5%;
  margin: 0%;
  text-align: left;
  background-color: transparent;
}

article.post_body .profile_post a:hover {
  text-decoration: none;
}

.profile_post a img {
  border-radius: 20%;
}

.profile_post a img, .profile_post a label {
  display: inline-block;
  margin: 0%;
  margin-left: 2%;
}

article.post_body .profile_post > label {
  text-align: center;
  padding: 10% 0%;
  margin: 0%;
}

article.post_body > div.grid {
  clear: both;
  grid-template-columns: 30% 70% !important;
  margin-bottom: 2% !important;
  border-top: solid #1db954;
}

section.post_text {
  margin-bottom: 0% !important;
  padding-left: 1%;
}

section.post_text hgroup {
  margin-bottom: 3%;
}

section.post_text hgroup p {
  width: 90%;
  font-size: 100%;
  margin: 0%;
}

section.post_text section {
  width: 80%;
  align-items: center;
  margin: 0% !important;
}

section.post_text section a {
  float: left;
  margin-right: 10%;
}

section.post_text section div.grid {
  float: left;
  width: 20%;
  grid-template-columns: 25% 20% 25% 20% !important;
  align-items: center;
  margin: 0% !important;
}

section.post_text .dislike {
  transform: rotate(180deg);
}

section.post_text figure {
  clear: both;
  padding-top: 2%;
  margin: 0%;
}

section.post_text figure audio {
  width: 70%;
}

section.post_text p.description {
  width: 90%;
  font-size: 60%;
  padding: 2% 0%;
  margin: 0%;
}

section.post_text p.time_ago {
  width: 90%;
  font-size: 60%;
  margin: 0%;
}

section.comments {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-gap: 0%;
  margin-bottom: 0%;
}

section.comments textarea {
  height: 80%;
  max-width: 100%;
  min-width: 50%;
  min-height: 80%;
  margin: 0%;
}

section.comments button {
  height: 80%;
  padding-left: 0%;
  padding-right: 0%;
  margin: 0%;
  background-color: transparent;
}

section.comments p {
  clear: both;
}

article.post_body details.show_comments {
  clear: both;
  margin: 0% !important;
}

details.show_comments ul.list_comment {
  max-height: 30vh;
  overflow: scroll;
  margin: 0%;
  padding-left: 0%;
}

details.show_comments li > div {
  grid-template-columns: 10% 90%;
}

details.show_comments li img {
  width: 90%;
}

section.comment_text, section.comment_text label{
  margin: 0%;
}

section.comment_text label.username {
  float: left;
  width: 70%;
  font-size: 90%;
}

section.comment_text label.time_comment {
  float: right;
  width: 25%;
  font-size: 50%;
  text-align: center;
}

section.comment_text p {
  clear: both;
  padding: 0% 3%;
  margin: 0%;
  font-size: 70%;
}

/*------------------------------------------*/

@media screen and (min-width: 768px) {

  .profile-image {
    border-radius: 40%;
    width: 20%;
  }

  .menu {
    position: fixed;
    float: left;
    width: 15%;
    height: 100vh;
    border: solid;
    padding: 1%;
    background-color: transparent;
  }

  .menu li{
    float: none;
    width: 80% !important;
    padding: 2% !important;
    margin: 0% 10% !important;
  }

  .menu figure {
    margin: 0% !important;
    padding: 15% !important;
  }

  .main-div {
    float: right;
    height: 100vh;
    width: 85%;
    overflow: auto;
  }

  .under {
    float: right;
    height: 100vh;
    width: 85%;
    overflow: auto;
  }

}

@media screen and (min-width: 992px) {

  .main-header{
    display: flex;
  }

  .header-div {
    width: 45%;
  }

  .profile-header{
    display: flex !important;
    width: 45%;
  }

  .profile-image {
    border-radius: 40%;
    width: 30%;
  }
  .main-div > section h1 {
    display: flex;
    align-items: center;
    padding-left: 10%;
  }
  .main-div > section section {
    padding: 1%;
  }

}

@media screen and (min-width: 1024px) {

  .main-header{
    display: flex;
  }

  .profile-image {
    border-radius: 40%;
    width: 30%;
  }

  .menu {
    padding: 1% 0%;
  }

  .menu nav {
    padding: 0%;
  }

  .menu li{
    width: 100%;
    vertical-align: middle;
    margin-left: 9% !important;
    padding: 0% !important;

  }

  .menu a {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
  }

  .menu figure {
    padding: 10% 5% !important;
  }

  .menu a figcaption {
    display: inline-block;
    margin-left: 2%;
  }

  .menu img {
    max-height: 3vw;
  }

  .post_section {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    text-align: center;
    margin: 0%;
  }
  
  .post_section button {
    margin: 0%;
  }

}
